.cardCont {
  height: 70vh;
  width: 70vw;
  margin: auto;
  background: #fff;
  border-radius: 50px;
  margin-top: 50px;
  padding: 2%;
  box-shadow: 0px 5px 20px grey;
}

.cardHeader {
  height: 15%;
  padding: 2%;
  margin-left: 15px;
}

.cardBody {
  height: 70%;
}

.cardFooter {
  height: 15%;
  display: flex;
  padding: 2%;
  padding-bottom: 0px;
}

.messageArea {
  display: flex;
  width: 100%;
  align-items: center;
}

.inputField {
  height: 100%;
  width: 90%;
  margin-left: 15px;
  padding: 2%;
  box-shadow: inset 0 1px 2px grey;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttonCont {
  height: 100%;
  width: 10%;
}

.submitButton {
  height: 80%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  box-shadow: inset 0 1px 2px grey;
  border: 0.5px solid #ccc;
  border-radius: 5px;
}

.fa {
  font-size: 18px !important;
}
