/*  */
/* Card Container, Header, Body, and Footer CSS */
/*  */

.cardCont {
  height: 70vh;
  width: 70vw;
  margin: auto;
  background: #fff;
  border-radius: 50px;
  margin-top: 50px;
  padding: 2%;
  box-shadow: 0px 5px 20px grey;
}

.cardHeader {
  height: 15%;
  padding: 2%;
  margin-left: 15px;
  transition: box-shadow 0.3s ease;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.cardHeader.scrolled {
  box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.5);
}

.cardBody {
  height: 70%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 100%;
}

.cardFooter {
  height: 15%;
  display: flex;
  padding: 2%;
  padding-bottom: 0px;
}

/*  */
/* Inside Card Footer, Input Area CSS */
/*  */

.messageArea {
  display: flex;
  width: 100%;
  align-items: center;
}

.inputField {
  height: 100%;
  width: 90%;
  margin-left: 15px;
  padding: 2%;
  box-shadow: inset 0 1px 2px grey;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.buttonCont {
  height: 100%;
  width: 10%;
}

.submitButton {
  height: 100%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  box-shadow: inset 0 1px 2px grey;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.fa {
  font-size: 18px !important;
}

/*  */
/* Sent and Received Messages Container CSS */
/*  */

/* Text DIV CSS, responsible for everything surrounding the text. */

.sentMessage {
  font-size: 14px;
  background-color: #e7e7e7;

  padding: 1rem;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;

  float: right;
  width: fit-content;
  min-width: 6%;
  max-width: 50%;

  border-radius: 20px;
}

.receivedMessage {
  font-size: 14px;
  background-color: #e7e7e7;

  padding: 1rem;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;

  float: left;
  width: fit-content;
  min-width: 6%;
  max-width: 50%;

  border-radius: 20px;

  display: flex;
  align-items: center;
}

[dir="rtl"] .receivedMessage {
  text-align: right; /* Align right for right-to-left languages like Arabic */
}

.msgContainer {
  width: 100%;
  align-items: center;
  position: relative;
}

/* Image Container, responsible for centering and positioning of the images. */

.sentImgContainer {
  width: fit-content;
  float: right;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin-right: 38px;
}

.receivedImgContainer {
  width: fit-content;
  float: left;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 34px;
}

/*  */
/* Image CSS */
/*  */

.sentImg {
  height: 22px;
  width: 22px;
}

.receivedImg {
  height: 24px;
  width: 24px;
}

/*  */
/* Modal Button Styling */
/*  */

.openModalButton {
  width: fit-content;

  padding: 4px;
  margin-right: 10px;

  background-color: #fff;

  border: 1px;
  border-radius: 10px;
  border-style: solid;

  transition-duration: 0.1s;
}

.openModalButton:hover {
  width: fit-content;

  padding: 4px;
  margin-right: 10px;

  background-color: #000000; /* Green */
  color: white;

  border: 1px;
  border-color: black;
  border-style: solid;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}
