.cardCont {
  height: 70vh;
  width: 70vw;
  margin: auto;
  background: #fff;
  border-radius: 50px;
  margin-top: 50px;
  padding: 2%;
  box-shadow: 0px 5px 20px grey;
}

.cardHeader {
  height: 15%;
  padding: 2%;
  margin-left: 15px;
  transition: box-shadow 0.3s ease;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.cardHeader.scrolled {
  box-shadow: 0 2px 4px -4px rgba(0, 0, 0, 0.5);
}

.cardBody {
  height: 70%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 100%;
}

.cardFooter {
  height: 15%;
  display: flex;
  padding: 2%;
  padding-bottom: 0px;
}

.messageArea {
  display: flex;
  width: 100%;
  align-items: center;
}

.inputField {
  height: 100%;
  width: 90%;
  margin-left: 15px;
  padding: 2%;
  box-shadow: inset 0 1px 2px grey;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.buttonCont {
  height: 100%;
  width: 10%;
}

.submitButton {
  height: 100%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  box-shadow: inset 0 1px 2px grey;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.fa {
  font-size: 18px !important;
}

.sentMessage {
  font-size: 12px;
  background-color: #e7e7e7;
  float: right;
  width: fit-content;
  padding: 1rem;
  border-radius: 50px;
  margin-right: 36.5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.receivedMessage {
  font-size: 12px;
  background-color: #e7e7e7;
  float: left;
  width: fit-content;
  padding: 1rem;
  margin-left: 36px;
  border-radius: 50px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.textContainer {
  width: 100%;
}
