body {
  background-color: #fdfdfd;
}

.titleContainer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.addButton {
  height: 40px;
  width: 120px;
  font-size: 12px;
  border-radius: 2em;
  margin-left: 20px; /* Adds some space between the button and the title */
}

.tableTitles {
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.idCol {
  text-align: center;
}

.adminLogo {
  height: 25px;
  width: 25px;
}

.navMenu {
  padding: 10px;
  height: 50px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  border: 0px;
  border-bottom: 0.1px;
  border-style: solid;
  border-color: gray;
}

.imageWrapper {
  margin-right: 20px; /* Adjust this value as needed for spacing */
}

.tableContainer {
  margin: auto;
  margin-top: 20px !important;
}

.dataTable thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: lightgray;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0.1px;
  border-color: black;
  border-style: solid;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  border: 0.1px;
  border-style: solid;
  border-color: gray;
  background-color: lightgray;
}

tr:nth-child(odd) {
  border: 0.1px;
  border-style: solid;
  border-color: gray;
}

tr:first-child {
  border: 0px;
}

.tableWrapper {
  height: 600px; /* Set the desired height for the scrollable area */
  overflow: auto; /* Add scrollbar if content overflows */
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border: 1px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 10px;
}

tbody {
  border: 10px;
}

.dataTable {
  border: 10px;
  border-color: black;
  width: 100%;
}

.tableTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

h2 {
  margin: auto;
  margin-left: 0px;
}

.flashMessage {
  width: 584px;
  background-color: lightgray;
  border-radius: 15px;
  height: 50px;
  padding: 10px;
  border: 0.5px;
  border-color: black;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.closeFlash {
  border-radius: 10px;
}

.dataTable_wrapper {
  width: 90% !important;
}
